.panel.panel-info
  .panel-heading
    %h4
      - prefecture = @hall.prefecture
      = ajax_normal_link show_path: prefecture_path(prefecture), ajax_title: prefecture.name(@is_ja), type: :success
      = "#{ @hall.name(@is_ja) } (#{t ".title" })"
  .panel-body.table-responsive
    %table{ default_table_class }
      %tr
        - t_ars(Hall, %w( number date concert )).each do |k|
          %th= k
      - @concert_halls.each_with_index do |ch, i|
        %tr
          - concert = ch.concert
          %td= i+1
          %td= year_link ch.event_date
          %td= ajax_normal_link object: concert, ajax_title: concert.name(@is_ja)
  .panel-footer
    = ajax_normal_link show_path: prefecture_path(@prefecture), ajax_title: @prefecture.name(@is_ja), type: :success
    - @halls.each do |hall|
      - if hall == @hall
        = link_to hall.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: hall, ajax_title: hall.name(@is_ja)
