- arel = array.include_band.order_band_yomi
- band_member_hash = hash_array_from_array(arel) { |bm| [ bm.band_id, bm ] }
- band_ids = band_member_hash.keys
- band_hash = Hash[band_ids.zip(Band.ids_are(band_ids).include_title)]

%table{ default_table_class }
  %thead
    %tr
      - t_ars(Person, %w( number band concert )).each do |k|
        %th= k
  %tbody
    - band_ids.each_with_index do |k, i|
      - band_members = band_member_hash[k]
      - band = band_hash[k]
      %tr
        %td= i+1
        %td= ajax_normal_link object: band, ajax_title: band.name(@is_ja)
        %td
          - band.concerts.each do |c|
            = ajax_normal_link object: c, ajax_title: c.name(@is_ja)
            - band_members.each do |bm|
              - instrumental = bm.instrumental
              = ajax_normal_link object: instrumental, ajax_title: instrumental.name(@is_ja)
            %br
