.panel.panel-success
  .panel-heading
    %h4= "#{ t ".title" } ( #{ @subtitle })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @heads.each do |array|
        - first = array.first
        - last = array.last
        - head = @lhead_hash[first][0,1]
        %li{class:(head == @head) ? "active disabled" : nil}= link_to "#{first} - #{last}", people_path(head: head), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Person, %w( person num_of_albums num_of_singles num_of_lyrics num_of_musics num_of_performances num_of_bands )).each do |k|
            %th= k
      %tbody
        - @people.each do |person|
          - pid = person.id
          - name = person.name(@is_ja)
          %tr{id: name}
            %td= ajax_normal_link object: person, ajax_title: name
            %td= zero_null @num_of_albums[pid]
            %td= zero_null @num_of_singles[pid]
            %td= zero_null @num_of_lyrics[pid]
            %td= zero_null @num_of_musics[pid]
            %td= zero_null @num_of_song_people[pid]
            %td= zero_null @num_of_bands[pid]
