%table{ default_table_class }
  %thead
    %tr
      - t_ars(Person, %w( number song date )).each do |k|
        %th=k
  %tbody
    - array.include_song_with_event_date.each_with_index do |slm, i|
      %tr
        - song = slm.song
        %td= i+1
        %td= ajax_normal_link object: song, ajax_title: song.name(@is_ja)
        %td= year_link song.event_date

