.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: people_path(head: @person.head1), type: :success
      = "#{ @person.names(@is_ja) } (#{t ".title" })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @hash.each do |key, array|
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to "#{ t_ar(Person, key) }(#{ @hash[key].count })", person_path(@person, key: key), remote: true
    - array = @hash[@key]
    - %w( lyrics musics ).each do |key|
      - if @key == key && array
        = render partial: 'lyric_music', locals: { array: array }
    - %w( albums singles ).each do |key|
      - if @key == key && array
        = render partial: 'device', locals: { array: array }
    - %w( bands ).each do |key|
      - if @key == key && array
        = render partial: 'band', locals: { array: array }
  .panel-footer
    = ajax_normal_link show_path: people_path(head: @person.head1), type: :success
    - @people.each do |person|
      - if person == @person
        = link_to person.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: person, ajax_title: person.name(@is_ja), key: @key

