- content_for :title do
  - @title = "#{ @person.name(@is_ja) } (#{t ".title" })"
  - @list_link = -> { ajax_normal_link_by_title(show_path: people_path(head: @person.head1)) }

= render partial: 'show'
