%table{ default_table_class }
  %tbody
    %tr
      %th= t_ar Device, :name
      %td= device.name(@is_ja)
    %tr
      %th= t_ar Device, :type
      %td
        - if @singer
          = ajax_normal_link object: @singer
        = device.number
        = (t_ars Album, device.device_type_strs).join(', ')
    %tr
      %th= t_ar Device, :release_date
      %td= year_link device.event_date
    - if @whole_time
      %tr
        %th= t_ar(Device, :whole_time)
        %td= @whole_time
    - comment = device.comment(@is_ja)
    - link = device.link
    - if comment || link
      %tr
        %th= t_ar(Device, :comment)
        %td
          = comment
          = external_or_str(link)

