%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongListSong, %i( number title lyric music arrangement )).each do |k|
        %th= k
  %tbody
    - song_list.song_list_songs.include_song.order_sort_order.each do |sls|
      %tr
        - song = sls.song
        %td= sls.sort_order
        %td
          - if song
            = ajax_normal_link object: song
          - else
            = sls.title(@is_ja)
          = sls.version(@is_ja)
        %td
          - song.lyric_people.each do |p|
            = ajax_normal_link object: p
        %td
          - song.music_people.each do |p|
            = ajax_normal_link object: p
        %td
          - sls.get_arranges.each do |p|
            = ajax_normal_link object: p

