- slss = song_list.song_list_songs.order_sort_order
%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongPerson, %i( performer instrumental )).each do |k|
        %th= t k
      - slss.each do |sls|
        %th= sls.sort_order

  %tbody
    - song_list.person_instrumental_hash.each do |artist, hash|
      - first = true
      - hash.each do |instrumental, sos|
        %tr
          - if first
            %th{rowspan:hash.keys.count}= ajax_normal_link object: artist, ajax_title: artist.name(@is_ja)
            - first = false
          %td= ajax_normal_link object: instrumental
          - slss.each do |sls|
            - so = sls.sort_order
            %td= '○' if sos.index(so)
