%table{ default_table_class }
  %tbody
    %tr
      %th= t_ar Device, :name
      %td= device.name(@is_ja)
    %tr
      %th= t_ar Device, :type
      %td
        - if @singer
          = ajax_normal_link object: @singer, ajax_title: @singer.name(@is_ja)
        = device.number
        = (t_ars Video, device.device_type_strs).join(', ')
    %tr
      %th= t_ar Device, :release_date
      %td= year_link device.event_date
    - if @whole_time
      %tr
        %th= t_ar(Device, :whole_time)
        %td= @whole_time
    - unless @recorded_at.keys.empty?
      %tr
        %th= t_ar(Video, :recorded_at)
        %td
          - @recorded_at.keys.each do |ch|
            = year_link ch.event_date
            = ajax_normal_link object: ch.hall
    - comment = device.comment(@is_ja)
    - link = device.link
    - if comment || link
      %tr
        %th= t_ar(Device, :comment)
        %td
          = comment
          = external_or_str link
