%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongListSong, %i( number title lyric music arrangement remarks )).each do |k|
        %th= k
  %tbody
    - song_list.song_list_songs.include_song.order_sort_order.each do |sls|
      %tr
        - song = sls.song
        %td= sls.sort_order
        %td
          - if song
            = ajax_normal_link object: song, ajax_title: song.name(@is_ja)
          - else
            = sls.title(@is_ja)
          = sls.version(@is_ja)
        %td
          - song.lyric_people.each do |p|
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
        %td
          - song.music_people.each do |p|
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
        %td
          - sls.get_arranges.each do |p|
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
        %td
          - sls.video_to_concert_videos.include_concert_song_list_song.each do |vcv|
            - set_list = vcv.concert_song_list_song.song_list
            - concert = set_list.concert
            - hall = vcv.concert_hall.hall
            = t_ar Concert, :recorded_at
            = ajax_normal_link object: hall, ajax_title: hall.name(@is_ja)
            (
            = ajax_normal_link object: concert, ajax_title: concert.name(@is_ja), key: "set_list-#{ set_list.keyword }"
            )
