.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ t_ar(Video, @ans[@device_type]) })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @ans.each do |key, value|
        - num = Video.device_type_value_has(key).count
        %li{ class_str_or_nil(key == @device_type, "active disabled") }=link_to "#{ t_ar(Video, value) }(#{ num })", videos_path(device_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Device, %w( number name type release_date remarks )).each do |k|
            %th= k
      %tbody
        - @videos.each_with_index do |video, i|
          - name = video.name(@is_ja)
          - singer = video.singer
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: video, ajax_title: name
            %td
              = ajax_normal_link object: singer, ajax_title: singer.name(@is_ja) if singer
              = video.number
              = t_ar Video, @ans[@device_type]
            %td= year_link video.event_date
            %td= video.comment(@is_ja)

