.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: videos_path(device_type: @device_type), ajax_title: t_ars_join(Video, @video.device_type_strs), type: :success
      = @video.name(@is_ja)
      →
      = t_ar Device, @key.split('-').first
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - keys = %w( base_information )
      - keys << 'media' if @media.count > 0
      - keys.each do |key|
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to t_ar(Device, key), video_path(@video, key: key), remote: true
      - @song_lists.each do |song_list|
        - keyword = song_list.keyword
        - lkeyword = t_ar Medium, keyword
        - key = "contents-#{ keyword }"
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to "#{ t_ar Device, :contents }(#{ lkeyword })", video_path(@video, key: key), remote: true
        - key = "performer-#{ keyword }"
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to "#{ t_ar Device, :performer }(#{ lkeyword })", video_path(@video, key: key), remote: true
    - if @key == 'base_information'
      = render partial: 'base_information', locals: { device: @video }
    - if @key == 'media' && @media.count > 0
      = render partial: '/devices/media'
    - @song_lists.each do |song_list|
      - if @key == "contents-#{ song_list.keyword }"
        = render partial: 'contents', locals: { song_list: song_list }
      - if @key == "performer-#{ song_list.keyword }"
        = render partial: '/devices/performer', locals: { song_list: song_list }
  .panel-footer
    = ajax_normal_link show_path: videos_path(device_type: @device_type), ajax_title: t_ars_join(Video, @video.device_type_strs), type: :success
    - @videos.each do |video|
      - if video == @video
        = link_to video.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: video, ajax_title: video.name(@is_ja), key: @key

