.panel.panel-default
  .panel-heading
    = t 'common.links_for_lists'
    - @links = [ albums_path, singles_path, videos_path, concerts_path, songs_path, list_by_date_songs_path, books_path, activities_path, people_path, bands_path, companies_path, years_path, instrumentals_path, prefectures_path, titles_path ]
  .panel-body.table-responsive
    - @links.each do |path|
      = ajax_normal_link show_path: path, ajax_title: title_from_path(path), type: :success
