%a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
  = t 'common.lang'
  %span.caret
%ul.dropdown-menu
  - if @is_ja
    %li.disabled= link_to '●日本語', '#'
    %li= link_to '英語', recursive_path(locale: :en), remote: true
  - else
    %li= link_to 'Japanese', recursive_path(locale: :ja), remote: true
    %li.disabled= link_to '●English', '#'

