.nav.navbar-default.navbar-fixed-top
  .navbar-header
    %button{type: 'button', class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '.navbar-responsive-collapse' }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t('welcome.index.title'), root_path, class: 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li#je_link= je_link
      %li#url= url_link

= yield :navi if content_for(:navi)
