- content_for :title do
  - @title = t ".title"

.jumbotron
  %h1= t '.title'
  %p= t '.attention'
  %ul
    %li= t '.message'
    %li
      = t '.message2'
    %li
      = t '.message3'
      = link_to 'Link', 'http://bitbucket.org/hkob/cmdb/'

%h2= t '.num_of_data'
- total = 0
%table{ default_table_class}
  %tr
    %th= t '.model'
    - @main_models.each do |m|
      %td= t_ar m
  %tr
    %th= t '.number'
    - @main_models.each do |model|
      - count = model.count
      - total += count
      %td= model.count
  %tr
    %th= t '.model'
    - @sub_models.each do |m|
      %td= t_ar m
    %td= t '.total'
  %tr
    %th= t '.number'
    - @sub_models.each do |model|
      - count = model.count
      - total += count
      %td= model.count
    %td= total
