%table{ default_table_class }
  %thead
    %tr
      - t_ars(Song, %w( name lyric music first_appearance )).each do |k|
        %th= k
      - if @activities.count > 0
        %th= t_ar Song, :tieup
  %tbody
    %td
      = @song.names(@is_ja)
    %td
      - @song.lyric_people.each do |p|
        = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
    %td
      - @song.music_people.each do |p|
        = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
    %td= year_link @song.event_date
    - if @activities.count > 0
      %td
        - @activities.each do |a|
          = t_ar Activity, a.activity_type
          = ajax_normal_link object: a, ajax_title: a.name(@is_ja)

