%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongListSong, %i( number concert set_list title arrangement performer )).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |sls, i|
      %tr
        %td= i+1
        - song_list = sls.song_list
        %td
          - concert = song_list.concert
          = ajax_normal_link object: concert, ajax_title: concert.name(@is_ja)
        %td
          - sl = song_list.keyword
          = ajax_normal_link object: concert, ajax_title: "#{ t_ar Concert, :set_list }#{ sl }", key: "set_list-#{sl}"
        %td
          = sls.song.name(@is_ja)
          = sls.version(@is_ja)
        %td
          - sls.get_arranges.each do |p|
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
        %td
          - sls.song_people.include_person.include_instrumental.except_arrange.order_instrumental_sort_order.each do |sp|
            = sp.instrumental.name(@is_ja)
            - p = sp.person
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
            %br

