%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongListSong, %i( number device title arrangement performer )).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |sls, i|
      %tr
        %td= i+1
        %td
          - device = sls.song_list.device
          = ajax_normal_link object: device, ajax_title: device.name(@is_ja)
        %td
          = sls.song.name(@is_ja)
          = sls.version(@is_ja)
        %td
          - sls.get_arranges.each do |p|
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
        %td
          - sls.song_people.include_person.include_instrumental.except_arrange.order_instrumental_sort_order.each do |sp|
            = sp.instrumental.name(@is_ja)
            - p = sp.person
            = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
            %br
