.panel.panel-success
  .panel-heading
    %h4= "#{ t ".title" } ( #{ @subtitle })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @heads.each do |array|
        - first = array.first
        - last = array.last
        - head = @lhead_hash[first][0,1]
        %li{class:(head == @head) ? "active disabled" : nil}= link_to "#{first} - #{last}", songs_path(head: head), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Song, %w( name lyric music num_of_albums num_of_singles num_of_concerts )).each do |k|
            %th= k
      %tbody
        - @songs.each do |song|
          - sid = song.id
          - name = song.name(@is_ja)
          %tr{id: name}
            %td= ajax_normal_link object: song, ajax_title: name
            %td
              - @lyrics[sid].each do |lp|
                - lyric = lp.person
                = ajax_normal_link object: lyric, ajax_title: lyric.name(@is_ja)
            %td
              - @musics[sid].each do |mp|
                - music = mp.person
                = ajax_normal_link object: music, ajax_title: music.name(@is_ja)
            %td= @num_of_albums[sid]
            %td= @num_of_singles[sid]
            %td= @num_of_concerts[sid]
