.panel.panel-success
  .panel-heading
    %h4= "#{ t ".title" } ( #{ @year.name(@is_ja) })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @years.each do |year|
        %li{class:(year == @year) ? "active disabled" : nil}= link_to "#{year.name(@is_ja)} (#{ @year_hash[year.id] })", list_by_date_songs_path(year_id: year.id), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Song, %w( name lyric music num_of_albums num_of_singles num_of_concerts )).each do |k|
            %th= k
      %tbody
        - @songs.each do |song|
          - sid = song.id
          - name = song.name(@is_ja)
          %tr{id: name}
            %td= ajax_normal_link object: song, ajax_title: name
            %td
              - @lyrics[sid].each do |lp|
                - lyric = lp.person
                = ajax_normal_link object: lyric, ajax_title: lyric.name(@is_ja)
            %td
              - @musics[sid].each do |mp|
                - music = mp.person
                = ajax_normal_link object: music, ajax_title: music.name(@is_ja)
            %td= @num_of_albums[sid]
            %td= @num_of_singles[sid]
            %td= @num_of_concerts[sid]
