.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: songs_path(head: @song.head1), ajax_title: t_ar(Song), type: :success
      = @song.name(@is_ja)
      →
      = t_ar Song, @key.split('-').first
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - key = 'base_information'
      %li{ class_str_or_nil(@key == key, "active disabled") }
        = link_to t_ar(Song, key), song_path(@song, key: key), remote: true
      - @devices.each do |(key, array)|
        -if array.count > 0
          %li{ class_str_or_nil(@key == key, "active disabled") }
            = link_to "#{ t_ar(Song, key)}(#{ array.count })", song_path(@song, key: key), remote: true
      -if @concerts.count > 0
        - key = 'concert'
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to "#{ t_ar(Song, key)}(#{ @concerts.count })", song_path(@song, key: key), remote: true
    - if @key == 'base_information'
      = render partial: 'base_information'
    - @devices.each do |(key, array)|
      - if array.count > 0
        - if @key == key
          = render partial: 'device', locals: { array: array }
    - if @concerts.count > 0
      - if @key == 'concert'
        = render partial: 'concert', locals: { array: @concerts }

  .panel-footer
    = ajax_normal_link show_path: songs_path(head: @song.head1), ajax_title: t_ar(Song), type: :success
    - @songs.each do |song|
      - if song == @song
        = link_to song.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: song, ajax_title: song.name(@is_ja), key: @key
