- content_for :title do
  - @title = "#{ @song.name(@is_ja) } (#{t ".title" })"
  - @list_link = -> { ajax_normal_link_by_title(show_path: songs_path(head: @song.head1)) }

#song_show= render partial: 'show'
