%table{ default_table_class }
  %tbody
    %tr
      %th= t_ar Concert, :name
      %td= @concert.name(@is_ja)
    %tr
      %th= t_ar Concert, :type
      %td= t_ar Concert, @concert.concert_type
    %tr
      %th= t_ar Concert, :performance_date
      %td
        = year_link(@concert.from)
        - if @concert.to
          = " - "
          = year_link(@concert.to)
    %tr
      %th= t_ar Concert, :num_of_concerts_halls
      %td= @concert.num_of_concerts
    - if band = @concert.band
      %tr
        %th= t_ar Concert, :band
        %td= ajax_normal_link object: band
    %tr
      %th= t_ar Concert, :remarks
      %td= @is_ja ? @concert.j_comment : @concert.e_comment

