%table{ default_table_class }
  %tr
    - t_ars(ConcertHall, %w( number performance_date concert_hall prefecture set_list )).each do |k|
      %th= k
    - if @concert.has_product
      %th= t_ar ConcertHall, :product
    %th= t_ar ConcertHall, :remarks
  - @concert_halls.include_hall.include_song_list.include_event_date.order_sort_order.each_with_index do |ch, i|
    %tr
      %td= i + 1
      %td= year_link(ch.event_date)
      - hall = ch.hall
      %td= ajax_normal_link object: hall
      - prefecture = hall.prefecture
      %td= ajax_normal_link object: prefecture
      - song_list = ch.song_list
      %td
        - if song_list
          - keyword = song_list.keyword
          - lkeyword = t_ar Medium, keyword
          - key = "set_list-#{ keyword }"
          = link_to "#{ t_ar Concert, :set_list }#{ lkeyword }", concert_path(@concert, key: key), btn_class(type: :info, remote: true)
      %td= ch.comment(@is_ja)

