.panel.panel-success
  .panel-heading
    %h4= "#{ t ".title"} (#{ t_ar Concert, @concert_type })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - Concert.concert_types.each do |key, value|
        %li{ class_str_or_nil(key == @concert_type, "active disabled") }=link_to "#{ t_ar(Concert, key) }(#{ @concert_type_count[value] || 0})", concerts_path(concert_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Concert, %w( number name type performance_date num_of_concerts_halls band remarks )).each do |k|
            %th= k
      %tbody
        - @concerts.each_with_index do |concert, i|
          - name = concert.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: concert
            %td= t_ar Concert, @concert_type
            %td
              = year_link(concert.from)
              - if concert.to
                = " - "
                = year_link(concert.to)
            %td= concert.num_of_concerts
            - band = concert.band
            %td= ajax_normal_link object: band, ajax_title: band.name(@is_ja) if band
            %td= @is_ja ? concert.j_comment : concert.e_comment
