%table{ default_table_class }
  %thead
    %tr
      - t_ars(SongListSong, %i( number title lyric music arrangement remarks )).each do |k|
        %th= k
  %tbody
    - sn = 0
    - ssn = -1
    - song_list.song_list_songs.include_song.order_sort_order.each do |sls|
      - case sls.j_title
      - when 'MEDLEY_IN'
        - ssn = 0
        - sn += 1
      - when 'MEDLEY_OUT'
        - ssn = -1
      - else
        %tr
          - song = sls.song
          %td
            - if song
              - if ssn == -1
                - sn += 1
                = sn
              - else
                - ssn += 1
                = "#{sn}-#{ssn}"
          %td
            - if song
              = ajax_normal_link object: song
            - else
              = sls.title(@is_ja)
            = sls.version(@is_ja)
          %td
            - song && song.lyric_people.each do |p|
              = ajax_normal_link object: p
          %td
            - song && song.music_people.each do |p|
              = ajax_normal_link object: p
          %td
            - song && sls.get_arranges.each do |p|
              = ajax_normal_link object: p
          %td
            - sls.concert_to_concert_videos.include_video_song_list_song.each do |ccv|
              - song_list = ccv.video_song_list_song.song_list
              - video = song_list.video
              = t_ar Concert, :contained_in
              = ajax_normal_link object: video, key: "contents-#{ song_list.keyword }"
  %tfoot
    %tr
      %th= t_ar ConcertHall, :halls
      %td{colspan: 5}
        - song_list.concert_halls.include_hall.order_date.each do |ch|
          = ajax_normal_link object: ch.hall
