.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: concerts_path(concert_type: @concert.concert_type), ajax_title: t_ar(Concert, @concert.concert_type), type: :success
      = @concert.name(@is_ja)
      →
      = t_ar Concert, @key.split('-').first
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - %w( base_information concert_halls).each do |key|
        %li{ class_str_or_nil(@key == key, "active disabled") }
          = link_to t_ar(Concert, key), concert_path(@concert, key: key), remote: true
      - @song_lists.each do |song_list|
        - keyword = song_list.keyword
        - lkeyword = t_ar Medium, keyword
        - key = "set_list-#{ keyword }"
        %li{ class_str_or_nil(@key == key, "active disable") }
          - snum = song_list.concert_halls.count
          = link_to "#{ t_ar Concert, :set_list }#{ lkeyword } (#{ snum }#{ t_ar ConcertHall, (snum == 1 ? :hall : :halls) })", concert_path(@concert, key: key), remote: true
    - if @key == 'base_information'
      = render partial: 'base_information'
    - if @key == 'concert_halls'
      = render partial: 'concert_halls'
    - @song_lists.each do |song_list|
      - key = "set_list-#{ song_list.keyword }"
      - if @key == key
        = render partial: 'set_list', locals: { song_list: song_list }
  .panel-footer
    = ajax_normal_link show_path: concerts_path(concert_type: @concert.concert_type), ajax_title: t_ar(Concert, @concert.concert_type), type: :success
    - @concerts.each do |concert|
      - if concert == @concert
        = link_to concert.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: concert, key: @key

