.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ t_ar(Book, @book_type) })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - Book.book_types.keys.each do |key|
        - num = Book.book_type_str_is(key).count
        %li{ class_str_or_nil(key == @book_type, "active disabled") }=link_to "#{ t_ar(Book, key) }(#{ num })", books_path(book_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Book, %w( number name type release_date )).each do |k|
            %th= k
      %tbody
        - @books.each_with_index do |book, i|
          - name = book.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: book
            %td= t_ar Book, book.book_type
            %td= year_link book.event_date

