.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: books_path(book_type: @book.book_type), ajax_title: t_ar(Book, @book.book_type), type: :success
      = @book.name(@is_ja)
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      %li.active.disabled= link_to t_ar(Book, :details), '#'
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Book, %i( items contents )).each do |k|
            %th= k
      %tbody
        %tr
          %th= t_ar Book, :name
          %td= t_ar Book, @book.name(@is_ja)
        %tr
          %th= t_ar Book, :type
          %td= t_ar Book, @book.book_type
        %tr
          %th= t_ar Book, :release_date
          %td= year_link @book.event_date
        - if author = @book.author
          %tr
            %th= t_ar Book, :author
            %td= ajax_normal_link object: author

        - if photographer = @book.photographer
          %tr
            %th= t_ar Book, :photographer
            %td= ajax_normal_link object: photographer
        - if @song_list
          %tr
            %th= t_ar Book, :contents
            %td
              - @song_list.song_list_songs.include_song.order_sort_order.each do |sls|
                - song = sls.song
                - if song
                  = ajax_normal_link object: song
                - else
                  = sls.title(@is_ja)
                  = sls.version(@is_ja)
                %br
        - comment = @book.comment(@is_ja)
        - link = @book.link
        - if comment || link
          %tr
            %th= t_ar Book, :comment
            %td
              = comment
              = external_or_str link
  .panel-footer
    = ajax_normal_link show_path: books_path(book_type: @book.book_type), ajax_title: t_ar(Book, @book.book_type), type: :success
    - @books.each do |book|
      - if book == @book
        = link_to book.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: book, key: @key
