.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ t_ar(Album, @ans[@device_type]) })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @ans.each do |key, value|
        - num = Album.device_type_value_has(key).count
        %li{ class_str_or_nil(key == @device_type, "active disabled") }=link_to "#{ t_ar(Album, value) }(#{ num })", albums_path(device_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Device, %w( number name type release_date remarks )).each do |k|
            %th= k
      %tbody
        - @albums.each_with_index do |album, i|
          - name = album.name(@is_ja)
          - singer = album.singer
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: album
            %td
              = ajax_normal_link object: singer
              = album.number
              = t_ar Album, @ans[@device_type]
            %td= year_link album.event_date
            %td= album.comment(@is_ja)
