.panel.panel-success
  .panel-heading
    %h4= t '.title'
  .panel-body.table-responsive
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Company, %w( number name num_of_media num_of_books num_of_activities )).each do |k|
            %th= k
      %tbody
        - @companies.each_with_index do |company, i|
          - cid = company.id
          - name = company.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: company
            %td= @num_of_media[cid]
            %td= zero_null (@num_of_published_books[cid] || 0) + (@num_of_selled_books[cid] || 0)
            %td= @num_of_activities[cid]
