.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link_by_title show_path: companies_path, ajax_title: t_ar(Company), type: :success
      = @company.name(@is_ja)
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @devices.each do |(key, array)|
        - if array.count > 0
          %li{ class_str_or_nil(@key == key, "active disabled") }
            = link_to t_ar(Company, key), company_path(@company, key: key), remote: true
    - @devices.each do |(key, array)|
      - if array.count > 0
        - if @key == key
          - case key
          - when 'album', 'single'
            = render partial: 'device', locals: { array: array }
          - when 'book'
            = render partial: 'book', locals: { array: array }
          - when 'activity'
            = render partial: 'activity', locals: { array: array }
  .panel-footer
    = ajax_normal_link_by_title show_path: companies_path, ajax_title: t_ar(Company), type: :success
    - @companies.each do |company|
      - if company == @company
        = link_to company.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: company, key: @key

