%table{ default_table_class }
  %tr
    - t_ars(Band, %w( number concert date )).each do |k|
      %th= k
  - @concerts.each_with_index do |c, i|
    %tr
      %td= i+1
      %td= c.name(@is_ja)
      %td
        = year_link c.from
        - if c.to
          = " - "
          = year_link c.to

