.panel.panel-success
  .panel-heading
    %h4= t ".title"
  .panel-body.table-responsive
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Band, %w( number name remarks )).each do |k|
            %th= k
      %tbody
        - @bands.each_with_index do |band, i|
          - name = band.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: band
            %td= @is_ja ? band.j_comment : band.e_comment

