%table{ default_table_class }
  %tr
    - t_ars(Band, %w( member instrumental )).each do |k|
      %th= k
  - @people.each do |p|
    %tr
      %td= ajax_normal_link object: p
      - bms = @band_members_hash[p.id]
      %td
        - bms.each do |bm|
          - instrumental = bm.instrumental
          = ajax_normal_link object: instrumental
