.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: bands_path, ajax_title: t_ar(Band), type: :success
      = @band.name(@is_ja)
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - %w( base_information member ).each do |key|
        %li{ class_str_or_nil(@key == key, 'active disabled') }
          = link_to t_ar(Band, key), band_path(@band, key: key), remote: true
    - if @key == 'base_information'
      = render partial: 'base_information'
    - if @key == 'member'
      = render partial: 'member'
  .panel-footer
    = ajax_normal_link show_path: bands_path, ajax_title: t_ar(Band), type: :success
    - @bands.each do |band|
      - if band == @band
        = link_to band.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: band, key: @key

