.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ t_ar(Single, @sns[@device_type]) })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - @sns.each do |key, value|
        - num = Single.device_type_value_has(key).count
        %li{ class_str_or_nil(key == @device_type, "active disabled") }=link_to "#{ t_ar(Single, value) }(#{ num })", singles_path(device_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Device, %w( number name type release_date remarks )).each do |k|
            %th= k
      %tbody
        - @singles.each_with_index do |single, i|
          - name = single.name(@is_ja)
          - singer = single.singer
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: single, ajax_title: name
            %td
              = ajax_normal_link object: singer, ajax_title: singer.name(@is_ja) if singer
              = single.number
              = t_ar Single, @sns[@device_type]
            %td= year_link single.event_date
            %td= single.comment(@is_ja)


