- content_for :title do
  - @title = "#{ @single.name(@is_ja) } (#{t ".title" })"
  - @list_link = -> { ajax_normal_link_by_title(show_path: singles_path(device_type: @single.device_type)) }

= render partial: 'show'
