.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ @subtitle })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - sarray = nil
      - @heads.each_with_index do |array, i|
        - first = array.first
        - last = array.last
        - selected = @head[0, 1].to_i == i
        - sarray = array if selected
        - key = @lhead_hash[first]
        %li{ class_str_or_nil(selected, 'active disabled') }= link_to "#{first} - #{last}", titles_path(head: key), remote: true
    %ul.nav.nav-tabs
      - sarray.each do |fl|
        - key = @lhead_hash[fl]
        %li{ class_str_or_nil(key == @head, 'active disabled') }= link_to fl, titles_path(head: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - %w( .link_titles .links ).each do |k|
            %th= t k
      %tbody
        - @titles.each do |title|
          - tid = title.id
          - name = title.name(@is_ja)
          %tr{id: name}
            %td
              = name
            %td
              - @links.each do |hash|
                - if obj = hash[tid]
                  = ajax_normal_link_by_title(object: obj)
