.panel.panel-success
  .panel-heading
    %h4= "#{ t ".title"} (#{ t_ar Prefecture, @region })"
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - Prefecture.regions.each do |key, value|
        - pkey = "prefecture.#{key}"
        %li{ class_str_or_nil(key == @region, "active disabled") }=link_to "#{t_ar Prefecture, key}", prefectures_path(region: key), data_toggle_tab.merge(remote: true)
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Prefecture, %w( number name capital num_of_halls num_of_concerts )).each do |k|
            %th= k
      %tbody
        - @prefectures.each_with_index do |prefecture, i|
          - pid = prefecture.id
          - name = prefecture.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: prefecture, ajax_title: name
            %td= prefecture.capital(@is_ja)
            %td= @num_of_halls[pid]
            %td= @num_of_concerts[pid]

