.panel.panel-info
  .panel-heading
    %h5
      = ajax_normal_link show_path: prefectures_path(region: @prefecture.region), ajax_title: t_ar(Prefecture, @prefecture.region), type: :success
      = @prefecture.name(@is_ja)
  .panel-body
    %table{ default_table_class }
      %tr
        - t_ars(Prefecture, %w( number hall num_of_concerts )).each do |k|
          %th= k
      - @halls.each_with_index do |hall, i|
        %tr
          %td= i+1
          %td= ajax_normal_link object: hall, ajax_title: hall.name(@is_ja)
          %td= @num_of_concerts[hall.id]
  .panel-footer
    = ajax_normal_link show_path: prefectures_path(region: @prefecture.region), ajax_title: t_ar(Prefecture, @prefecture.region), type: :success
    - @prefectures.each do |prefecture|
      - if prefecture == @prefecture
        = link_to prefecture.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: prefecture, ajax_title: prefecture.name(@is_ja), key: @key

