.panel.panel-success
  .panel-heading
    %h4= t '.title'
  .panel-body.table-responsive
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Instrumental, %w( instrumental num_of_performances )).each do |k|
            %th= t k
      %tbody
        - @instrumentals.each do |instrumental|
          - iid = instrumental.id
          - name = instrumental.name(@is_ja)
          %tr{id: name}
            %td= ajax_normal_link object: instrumental, ajax_title: name
            %td= @num_of_performances[iid]
