.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: instrumentals_path, ajax_title: t('.title'), type: :success
      = @instrumental.name(@is_ja)
  .panel-body
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Instrumental, %w( person album single )).each do |k|
            %th= k
      %tbody
        - @song_people_hash.each do |p, array|
          %tr
            %td
              = ajax_normal_link object: p, ajax_title: p.name(@is_ja)
            - albums = []
            - singles = []
            - pre_device = nil
            - array.each do |sp|
              - device = sp.song_list_song.song_list.device
              - unless device == pre_device
                - if device.class == Album
                  - albums << device
                - elsif device.class == Single
                  - singles << device
                - pre_device = device
            - [ albums, singles ]. each do |array|
              %td
                - array.each do |device|
                  = ajax_normal_link object: device, ajax_title: device.name(@is_ja)
