.panel.panel-success
  .panel-heading
    %h4 #{ t '.title' } (#{ t_ar(Activity, @activity_type) })
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      - Activity.activity_types.keys.each do |key|
        - num = Activity.activity_type_str_is(key).count
        %li{ class_str_or_nil(key == @activity_type, "active disabled") }=link_to "#{ t_ar(Activity, key) }(#{ num })", activities_path(activity_type: key), remote: true
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Activity, %w( number name type term )).each do |k|
            %th= k
      %tbody
        - @activities.include_from.include_to.each_with_index do |activity, i|
          - name = activity.name(@is_ja)
          %tr{id: name}
            %td= i+1
            %td= ajax_normal_link object: activity
            %td= t_ar Activity, activity.activity_type
            %td
              = year_link(activity.from)
              = " - "
              - if activity.to
                = year_link(activity.to)
