.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: activities_path(activity_type: @activity.activity_type), ajax_title: t_ar(Activity, @activity.activity_type), type: :success
      = @activity.name(@is_ja)
  .panel-body.table-responsive
    %ul.nav.nav-tabs
      %li.active.disabled= link_to t_ar(Activity, :details), '#'
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Activity, %i( items contents )).each do |k|
            %th= k
      %tbody
        - Activity.activity_types.keys.each do |at|
          - if @activity.activity_type == at.to_s
            = render partial: at
  .panel-footer
    = ajax_normal_link show_path: activities_path(activity_type: @activity.activity_type), ajax_title: t_ar(Activity, @activity.activity_type), type: :success
    - @activities.each do |activity|
      - if activity == @activity
        = link_to activity.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = ajax_normal_link object: activity

