.panel.panel-success
  .panel-heading
    %h4= t ".title"
  .panel-body.table-responsive
    %table{ default_table_class }
      %thead
        %tr
          - t_ars(Year, %w( year num_of_albums num_of_singles num_of_concerts num_of_books num_of_activities)).each do |k|
            %th= k
      %tbody
        - @years.each do |year|
          - yid = year.id
          - name = year.name(@is_ja)
          %tr{id: name}
            %td= link_to year.name(@is_ja), year_path(year), btn_class
            %td= zero_null @num_of_albums[yid]
            %td= zero_null @num_of_singles[yid]
            %td= zero_null @num_of_concert_halls[yid]
            %td= zero_null @num_of_books[yid]
            %td= zero_null (@num_of_from_activities[yid] || 0 ) + (@num_of_to_activities[yid] || 0)


