%table{ default_table_class }
  %tr
    - t_ars(Year, %w( date events )).each do |k|
      %th= k
    - @hash.keys.sort.each do |date|
      - objs = @hash[date]
      %tr
        %td= date.name
        %td
          - objs.each do |obj|
            - if obj.class == ConcertHall
              = obj.event_title
              - concert = obj.concert
              - hall = obj.hall
              = ajax_normal_link object: concert, ajax_title: concert.name(@is_ja)
              (
              = ajax_normal_link object: hall, ajax_title: hall.name(@is_ja)
              )
            - elsif obj.class == Activity
              - if obj.from == date
                = obj.from_event_title
              - else
                = obj.to_event_title
              = ajax_normal_link object: obj, ajax_title: obj.name(@is_ja)
            - else
              = obj.event_title
              = ajax_normal_link object: obj, ajax_title: obj.name(@is_ja)
            %br
