.panel.panel-info
  .panel-heading
    %h4
      = ajax_normal_link show_path: years_path, ajax_title: t('.title'), type: :success
      = @year.name(@is_ja)
  .panel-body
    %ul.nav.nav-tabs
      - @month_hash.keys.sort.each do |month|
        %li{ class_str_or_nil(@key == month, "active disabled") }
          = link_to "#{ Year.month_str(month, @is_ja)}(#{ @month_hash[month] })", year_path(@year, key: month), remote: true
      = render partial: 'month'
  .panel-footer
    = ajax_normal_link show_path: years_path, ajax_title: t('.title'), type: :success
    - @years.each do |year|
      - if year == @year
        = link_to year.name(@is_ja), '#', btn_class.merge({ disabled: true })
      - else
        = link_to year.name(@is_ja), year_path(year), btn_class

